<div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "alcool.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Álcool", alcool_path(1)%></h3></center>
                                <p align="justify">É a substância psicoativa mais antiga da humanidade.
                                Consumo excessivo traz aplicações no sistema digestivo,podendo resultar
                                em varios tipos de complicações podendo afetar a capacidade intelectual,
                                memória e destrói a vida social e afetiva do dependente.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), alcool_path(1),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>