 <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "cogumelo.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Alucinógenos", anfetamina_path(2)%></h3></center>
                                <p align="justify">Chamam-se alucinógenas porque provocam "alucinações",
                                que na linguagem médica significa "percepções sem objeto", isto é, a pessoa
                                que está em processo de alucinação percebe coisas sem que elas existam (ouve sons
                                imaginários, vê objetos que não existem). </p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), alucinogeno_path(2),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>