                <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "anfetaminas.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Anfetaminas", anfetamina_path(3)%></h3></center>
                                <p align="justify">As anfetaminas são drogas estimulantes, isto é, fazem o cérebro trabalhar
                                mais depressa, deixando as pessoas com “menos sono”. Um exemplo de uso está entre
                                os motoristas que precisam dirigir durante várias horas seguidas sem descanso,a fim de cumprir
                                um prazo.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), anfetamina_path(3),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>