<div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "antidepressivo.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Anti depressivos", antidepressivo_path(4)%></h3></center>
                                <p align="justify">É uma substância considerada eficaz na remissão de
                                sintomas característicos da síndrome depressiva em alguns pacientes com
                                transtorno depressivo. Algumas substâncias com atividade antidepressiva
                                podem ser eficazes também em transtornos psicóticos</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), antidepressivo_path(4),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>