<div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "doriden.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Barbitúricos", barbiturico_path(5)%></h3></center>
                                <p align="justify">São os calmantes e sedativos, provocam alterações na
                                capacidade de raciocínio, concentração e coordenação motora.Quando
                                ingeridos em excesso, afetam as funções do sistema cardiorespiratório,
                                podendo levar até mesmo ao coma.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), barbiturico_path(5),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>