 <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "cafe.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Cafeína", cafeina_path(6)%></h3></center>
                                <p align="justify">É o estimulante legal mais usado no mundo. A cafeína
                                é mais comumente associada ao café e às bebidas à base de cola que
                                contém cafeína e flavorizantes extraídos de fontes naturais. A cafeína não
                                produz uma verdadeira euforia, mas causa dependência psicológica. </p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), cafeina_path(6),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>