<div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "cocaina.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Cocaína", cocaina_path(7)%></h3></center>
                                <p align="justify">É uma das drogas ilegais mais consumidas no mundo.
                                A cocaína é um psicotrópico, pois age no Sistema Nervoso Central, isto é,
                                sua atuação é no cérebro e na medula espinhal, exatamente nos órgãos
                                que comandam os pensamentos e as ações das pessoas.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), cocaina_path(7),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>