<div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "inalantes.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Inalantes", anfetamina_path(8)%></h3></center>
                                <p align="justify">Produz sensação de euforia e exitação, pertubaçãoes
                                auditivas, visuais e até alucinações. A aspiração repetida do solvente pode
                                resultar na destruição de neurônios, provocando perda de reflexos,
                                dificuldade de concentração e déficit de memória.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), inalantes_path(8),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>