<div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "maconha.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Cannabis Sativa", maconha_path(9)%></h3></center>
                                <p align="justify">É a droga de entrada para consumo das outras drogas.
                                Barata e de fácil acesso, o seu uso continuado interfere tanto na aprendizagem,
                                memorização quanto na fertilidade. É uma combinação de flores e folhas da
                                planta conhecida como Cannabis sativa.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), maconha_path(9),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>