<div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "nicotina.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Nicotina", nicotina_path(11)%></h3></center>
                                <p align="justify">A nicotina causa dependência ao cigarro e o torna agradável.
                                É uma substância que ocorre naturalmente no tabaco.  Ao tragar a fumaça do
                                cigarro, uma grande quantidade vai para os pulmões e passa para o sangue,
                                atingindo o seu cérebro em apenas alguns segundos.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), nicotina_path(11),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>