<div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "tranquilizantes.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Tranquilizantes", tranquilizante_path(12)%></h3></center>
                                <p align="justify">Tranquilizantes são medicamentos utilizados em pessoas em
                                estado de tensão, insônia e ansiedade. Também conhecidos como calmantes,
                                esses medicamentos atuam produzindo uma depressão nas regiões do cérebro
                                responsáveis pela ansiedade e a tensão.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), tranquilizante_path(12),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                </div>