<html>
    <body>
        <div class="container">
            <h2 align="center"><b>O que são drogas?</b></h2>
                <br>
                   <p align="justify">Droga é toda e qualquer substância, natural ou sintética
                    que, introduzida no organismo modifica suas funções.
                    </p>
                <br>
        </div>
    </body>
</html>