<head>
    <title> Sistemas Comunidades Terapêuticas </title>
    <meta charset = "utf-8" />
</head>

<body>

<div class = "jumbotron">
    <div class = "container">
        <div align = "center">
            <%= image_tag "logo.jpg" %>
        </div>
    </div>
</div>

<div class = "services">
    <a name = "services"></a>
        <div class = "container">
            <div class = "wrap">

                <h1 align = "center"> <strong> Serviços </strong></h1>

                    <div class = "col-md-6">
                        <div align = "center">
                            <a href = "/drugs"> <img src = "<%= image_path "drugs.jpg"%>"></a>
                            <h2> Informação sobre as drogas </h2>
                        </div>
                    </div>

                    <div  class = "col-md-6">
                        <div align = "center">
                            <a href = "/clinicas"> <img src = "<%= image_path "rehab.jpg"%>"></a>
                            <h2> Informação sobre as comunidades terapêuticas</h2>
                        </div>
                    </div>

            </div>
        </div>
</div>

<div class = "about">
    <a name = "about"> </a>
        <div class = "container">

            <h1 align = "center"> <strong> Sobre </strong> </h1>

            <div class = "col-md-4 col-md-offset-4">
                <p>Este software tem como finalidade apresentar a localidade das clínicas terapêuticas no Brasil.
                <br><br>
                Os dados utilizados são disponibilizados de acordo com a Lei de Acesso a Informação Pública (Lei 12.527/2011).
                </p>
            </div>
        </div>
</div>

</body>

