<div class="img-responsive aspect home_background" >
<p id="notice"><%= notice %></p>

<h1 class="w"> Bem vindo ao Sistema de Comunidades Terapêuticas! </h1>


    <p class="w"> Este software tem como finalidade apresentar localidade das clínicas terapêuticas no Brasil.
    <br>Os dados são disponibilizados de acordo com a Lei de Acesso a Informação Pública (Lei 12.527/2011).

    </p>
        
    <td>
    <%=link_to raw("<i class=\"fa fa-plus-square\"> Informações das Clínicas </i>"),
                           clinicas_path,
                           :target => "_self",
                           class: "btn btn-success  btn-small"%>
    </td>

</div>
