<nav class="navbar navbar-default " role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li><a href="<%=root_path%>" class="colorwhite"><i class="fa fa-home "></i> Início </a></li>
         
         <li><a href="<%=drugs_path%>" class="colorwhite">Drogas</a></li>
         <li><a href="<%=clinicas_path%>" class="colorwhite">Clínicas</a></li>
         
      </ul>
      
   </div>
</nav>